[user]
    email = njncalub@gmail.com
    name = Nap Joseph Calub
    signingkey = C52C45ABD0FD5D8D
[commit]
    gpgsign = true
[init]
    defaultBranch = main
[alias]
    uncommit = reset --soft HEAD^
    # https://salferrarello.com/never-git-push-force/
    please = push --force-with-lease

